<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.Azure.Amqp" version="2.4.2" targetFramework="net47" />
  <package id="Microsoft.Azure.Devices" version="1.18.2" targetFramework="net47" />
  <package id="Microsoft.Azure.Devices.Shared" version="1.16.0" targetFramework="net47" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net47" />
  <package id="NLog" version="4.6.8" targetFramework="net47" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net47" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="System.IO" version="4.1.0" targetFramework="net47" />
  <package id="System.Net.WebSockets" version="4.0.0" targetFramework="net47" />
  <package id="System.Net.WebSockets.Client" version="4.0.2" targetFramework="net47" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net47" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.0" targetFramework="net47" />
</packages>